.intro-text {
    position: absolute;
    width: 46.38vw;
    height: 9.75vw;
    left: 42.99vw;
    top: 27.76vw;

    font-family: inter;
    font-style: normal;
    font-weight: 450;
    font-size: 2.03vw;
    line-height: 2.44vw;

}

.intro-title {
    position: absolute;
    width: 46.38vw;
    height: 4.74vw;
    left: 42.79vw;
    top: 23.02vw;

    font-family: inter;
    font-style: normal;
    font-weight: 450;
    font-size: 3.25vw;
    line-height: 4.2vw;
}

.me-img {
    position: absolute;
    width: 35.48vw;
    height: 35.95vw;
    left: 4.4vw;
    top: 11.78vw;
    border-radius: 1.69vw;
    object-fit: cover;
}