intro-text {

    position: absolute;
    width: 686px;
    height: 144px;
    left: 635px;
    top: 410px;

    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #000000;

}

intro-title {
    position: absolute;
    width: 685px;
    height: 70px;
    left: 635px;
    top: 340px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    line-height: 62px;

    color: #000000;
}