.intro-text {
    position: absolute;
    width: 686px;
    height: 144px;
    left: 635px;
    top: 410px;

    font-family: inter;
    font-style: normal;
    font-weight: 450;
    font-size: 2.03vw;
    line-height: 36px;

}

.intro-title {
    position: absolute;
    width: 685px;
    height: 70px;
    left: 635px;
    top: 340px;

    font-family: inter;
    font-style: normal;
    font-weight: 450;
    font-size: 3.25vw;
    line-height: 62px;
}

.me-img {
    position: absolute;
    width: 524px;
    height: 531px;
    left: 65px;
    top: 174px;
    border-radius: 25px;
    object-fit: cover;
}