@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: inter;
  color: black;
  background: #f0f0f0;
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

.background-text::before {
  content: "steven tohme";
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25%;
  font-weight: 500;
  font-size: 16.5vw;
  letter-spacing: -0.7vw;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  z-index: -1;
}